<div class="container-fluid">
  <div>
  </div>
  <ul class="navbar-nav mb-2 mb-lg-0">
    <li class="nav-item">
    	<form action="/logout" method="POST">
      <a class="nav-link hover" href="#">
  <button style="border:none;background-color:transparent;">
    <img class="icon" height="29" src="assets/images/exit.png" data-hover="assets/images/exit-hover.png" alt="" />
    <span class="d-none d-sm-inline-block" style="color: white;">LOG OUT</span>
  </button>
</a>

      </form>
    </li>
  </ul>
</div>