<!DOCTYPE html>
<html dir="ltr" lang="en" class="no-js">

<head>
  <meta charset="utf-8" />
  <meta name="Author" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
  <title>Login </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.4/jquery.rateyo.min.css" />
  <link rel="stylesheet" href="assets/css/style.css" />
</head>

<body class="  bg2
">
  <div class="container-fluid">
    <div class="page-content-wrapper">
      <main class="main">
        <div class="d-flex flex-column pb-4" style="min-height: 100vh">
          <div class="flex-1 d-flex flex-column justify-content-center">
            <div class="auth-page page-sign-in">
              <div class="card auth-form mb-3">
                <div class="card-body">
                  <h3 class="fw-bold">Chat System</h3>
                  <div class="text-muted fw-light">Enter your username to Login</div>
                  <div class="card mt-4">
                    <form method="post">
                    <div class="card-body">
                      <div class="row gx-3 align-items-center mb-3">
                        <div class="col-md-auto">
                          <label class="col-form-label label-fixed">Username</label>
                        </div>
                        <div class="col-md">
                          <div class="input-icon">
                            <img src="assets/images/user.png" alt="" />
                            <input type="text" name="username" class="form-control" placeholder="Write your username" required />
                          </div>
                        </div>
                      </div>
                    </div>
                  
                  </div>
                </div>
              </div>
              <div class="row justify-content-lg-end justify-content-center mb-n3">
                <div class="col-auto mb-3">
                  <a href="sign-in.php"><button class="btn btn-primary">Login</button></a>
                </div>
              </div>
              </form>
            </div>
          </div>
          <center>
            
          </center>
          </div>
        </div>
      </main>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.4/jquery.rateyo.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
  <script src="assets/javascripts/main.js"></script>
</body>

</html>